.navbar {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar li {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar h1 {
  font-weight: 500;
}

.navbar .active {
  color: darkgoldenrod;
}

.navbar svg {
  color: rgb(90, 90, 90);
  width: 16px;
  margin: 0 2px;
}

.navbar p {
  font-weight: 500;
  border: none;
  color: rgb(50, 50, 50);
}

.navbar p:hover {
  cursor: pointer;
}

.number-of-items {
  display: flex;
  background-color: rgb(50, 50, 50);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 15px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
